.Display {
    width: 85%;
    height: 100%;
    text-align: left;
    background-color: #282c34;
    justify-content: left;

    /* flex-direction: row;
    align-items: center;
    justify-content: center; */

    font-size: calc(10px + 2vmin);
    color: white;
    overflow: auto;
    /* outline: solid black; */
}
